    <div ng-controller="MainCtrl" class="calc">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
				<input type="text" ng-model="resultado" class="resultado col-md-6"/> 
				<p class="col-md-6 currency">{{currency}} - Alicuota: {{monto_alicouta}}</p>
				</div>
				<div class="row">			
						<div class="col-md-6">
							<div class="row">
							  <button ng-repeat="n in btns_numeros" ng-click="calcular(n)" class="col-md-4">{{n}}</button>
							</div>
						</div>
		  
						<div class="col-md-4">
							<div class="row">
							  <button ng-repeat="n in btns_operadores" ng-click="calcular(n)" class="col-md-6">{{n}}</button>
							</div>
						</div>
						<div class="col-md-2">
							<div class="row">
							  <button ng-repeat="n in btns_operadores_ls" ng-click="calcular(n)" class ="col-md-12"><i ng-class="{'fa fa-search':n ==='LsGet', 'fa fa-trash-o':n === 'LsDelete',  'fa fa-eraser':n === 'LsClear'}" aria-hidden="true" alt="{{n}}"></i></button>
							</div>
						</div>
				 </div>
			</div>
		</div>		
    </div>